.potatoimage {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 310px;
    width: 307px;
    background-image: url('../images/potato2.png');
    z-index: 1;
}
#colorhehe {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1


}


#warning {
    height: 50px;
    width: 50px;
    position: relative;
    top: 50%;
    left: 44%;
    z-index: 3;
    margin:0;
    font-size: 50px;

}



#startScreen{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: lavender;
}

#start{
    position: absolute;
    top: 44%;
    left: 40%;
    z-index: 3;
    margin:0;
    font-size: 50px;

}