body{
margin:0;
}


.potatoimage {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 310px;
    width: 307px;
    background-image: url('../images/potato3.png');
    z-index: 1;
}
#colorhehe {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    display: none;


}





.outerWindow{
height: 100%;
width:100%;
background-color: turquoise;
z-index: 3;
position: absolute;


}

.innerWindow{
    height: 250px;
    width: 450px;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: table-cell;
    text-align: center;
}

#warning {
    font-size: 75px;
     color: red;
     top: 100;
     left: 100;
}

#start{
    font-size:75px;
    color: green;
   margin: auto;
}

.scorebox{
    height:fit-content;
    width: fit-content;
    font-size:100px;
    margin-left: 50%;
    display: none;
}
